-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: caretdb
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `caretdb`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `caretdb` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `caretdb`;

--
-- Table structure for table `click_event`
--

DROP TABLE IF EXISTS `click_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `click_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `pos_x` int DEFAULT NULL,
  `pos_y` int DEFAULT NULL,
  `mouse_button_id` int DEFAULT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`),
  CONSTRAINT `click_event_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`),
  CONSTRAINT `click_event_chk_1` CHECK ((`pos_x` >= 0)),
  CONSTRAINT `click_event_chk_2` CHECK ((`pos_y` >= 0)),
  CONSTRAINT `click_event_chk_3` CHECK ((`mouse_button_id` in (0,1,2,3,4)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `click_event`
--

LOCK TABLES `click_event` WRITE;
/*!40000 ALTER TABLE `click_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `click_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cookie`
--

DROP TABLE IF EXISTS `cookie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cookie` (
  `name` varchar(256) NOT NULL,
  `html_hash` char(64) NOT NULL,
  `path` varchar(256) DEFAULT NULL,
  `secure` tinyint(1) NOT NULL DEFAULT '0',
  `http_only` tinyint(1) NOT NULL DEFAULT '0',
  `size` int DEFAULT NULL,
  `expiry` timestamp NULL DEFAULT NULL,
  `domain` varchar(4096) DEFAULT NULL,
  `value` varchar(4096) DEFAULT NULL,
  `same_site` varchar(20) DEFAULT NULL,
  `last_accessed` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`name`,`html_hash`),
  KEY `html_hash` (`html_hash`),
  CONSTRAINT `cookie_ibfk_1` FOREIGN KEY (`html_hash`) REFERENCES `webstate` (`html_hash`),
  CONSTRAINT `cookie_chk_1` CHECK ((regexp_like(`path`,_utf8mb4'^/.*') and (length(`path`) <= 256))),
  CONSTRAINT `cookie_chk_2` CHECK ((`size` between 1 and 4096)),
  CONSTRAINT `cookie_chk_3` CHECK (regexp_like(`domain`,_utf8mb4'^[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)+$')),
  CONSTRAINT `cookie_chk_4` CHECK ((`same_site` in (_utf8mb4'Strict',_utf8mb4'Lax',_utf8mb4'None')))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cookie`
--

LOCK TABLES `cookie` WRITE;
/*!40000 ALTER TABLE `cookie` DISABLE KEYS */;
/*!40000 ALTER TABLE `cookie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `drag_event`
--

DROP TABLE IF EXISTS `drag_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drag_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `area` int DEFAULT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`),
  CONSTRAINT `drag_event_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `drag_event`
--

LOCK TABLES `drag_event` WRITE;
/*!40000 ALTER TABLE `drag_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `drag_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element`
--

DROP TABLE IF EXISTS `element`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element` (
  `uid` char(32) NOT NULL,
  `html_hash` char(64) DEFAULT NULL,
  `tag` varchar(24) DEFAULT NULL,
  `xpath` varchar(255) DEFAULT NULL,
  `text` varchar(4096) DEFAULT NULL,
  `xpos` int DEFAULT NULL,
  `ypos` int DEFAULT NULL,
  `height` int DEFAULT NULL,
  `width` int DEFAULT NULL,
  `z_index` int DEFAULT '0',
  PRIMARY KEY (`uid`),
  KEY `html_hash` (`html_hash`),
  CONSTRAINT `element_ibfk_1` FOREIGN KEY (`html_hash`) REFERENCES `webstate` (`html_hash`),
  CONSTRAINT `element_chk_1` CHECK (regexp_like(`uid`,_utf8mb4'^[a-f0-9]{32}$')),
  CONSTRAINT `element_chk_2` CHECK ((`xpos` >= 0)),
  CONSTRAINT `element_chk_3` CHECK ((`ypos` >= 0)),
  CONSTRAINT `element_chk_4` CHECK ((`height` > 0)),
  CONSTRAINT `element_chk_5` CHECK ((`width` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element`
--

LOCK TABLES `element` WRITE;
/*!40000 ALTER TABLE `element` DISABLE KEYS */;
/*!40000 ALTER TABLE `element` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element_attributes`
--

DROP TABLE IF EXISTS `element_attributes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element_attributes` (
  `uid` char(32) NOT NULL,
  `html_hash` char(64) NOT NULL,
  `attribute` varchar(100) NOT NULL,
  PRIMARY KEY (`uid`,`html_hash`,`attribute`),
  KEY `html_hash` (`html_hash`),
  CONSTRAINT `element_attributes_ibfk_1` FOREIGN KEY (`uid`) REFERENCES `element` (`uid`),
  CONSTRAINT `element_attributes_ibfk_2` FOREIGN KEY (`html_hash`) REFERENCES `webstate` (`html_hash`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element_attributes`
--

LOCK TABLES `element_attributes` WRITE;
/*!40000 ALTER TABLE `element_attributes` DISABLE KEYS */;
/*!40000 ALTER TABLE `element_attributes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `element_event`
--

DROP TABLE IF EXISTS `element_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `element_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`),
  CONSTRAINT `element_event_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `element_event`
--

LOCK TABLES `element_event` WRITE;
/*!40000 ALTER TABLE `element_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `element_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `event_participating_elements`
--

DROP TABLE IF EXISTS `event_participating_elements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `event_participating_elements` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `uid` char(32) NOT NULL,
  `html_hash` char(64) NOT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`,`uid`,`html_hash`),
  KEY `uid` (`uid`),
  KEY `html_hash` (`html_hash`),
  CONSTRAINT `event_participating_elements_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`),
  CONSTRAINT `event_participating_elements_ibfk_2` FOREIGN KEY (`uid`) REFERENCES `element` (`uid`),
  CONSTRAINT `event_participating_elements_ibfk_3` FOREIGN KEY (`html_hash`) REFERENCES `webstate` (`html_hash`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `event_participating_elements`
--

LOCK TABLES `event_participating_elements` WRITE;
/*!40000 ALTER TABLE `event_participating_elements` DISABLE KEYS */;
/*!40000 ALTER TABLE `event_participating_elements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `move_event`
--

DROP TABLE IF EXISTS `move_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `move_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `end_pos_x` int DEFAULT NULL,
  `end_pos_y` int DEFAULT NULL,
  `start_pos_x` int DEFAULT NULL,
  `start_pos_y` int DEFAULT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`),
  CONSTRAINT `move_event_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`),
  CONSTRAINT `move_event_chk_1` CHECK ((`end_pos_x` >= 0)),
  CONSTRAINT `move_event_chk_2` CHECK ((`end_pos_y` >= 0)),
  CONSTRAINT `move_event_chk_3` CHECK ((`start_pos_x` >= 0)),
  CONSTRAINT `move_event_chk_4` CHECK ((`start_pos_y` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `move_event`
--

LOCK TABLES `move_event` WRITE;
/*!40000 ALTER TABLE `move_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `move_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `navigate_event`
--

DROP TABLE IF EXISTS `navigate_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `navigate_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `url` varchar(4096) DEFAULT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`),
  CONSTRAINT `navigate_event_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`),
  CONSTRAINT `navigate_event_chk_1` CHECK (regexp_like(`url`,_utf8mb4'^https?://([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,}(/.*)?$'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `navigate_event`
--

LOCK TABLES `navigate_event` WRITE;
/*!40000 ALTER TABLE `navigate_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `navigate_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `replay`
--

DROP TABLE IF EXISTS `replay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `replay` (
  `replay_id` char(36) NOT NULL,
  `start_time` timestamp NOT NULL,
  `end_time` timestamp NOT NULL,
  `product` varchar(24) DEFAULT NULL,
  `product_version` varchar(24) DEFAULT NULL,
  `comment` varchar(255) DEFAULT NULL,
  `device_type` varchar(24) DEFAULT NULL,
  `os_type` varchar(24) DEFAULT NULL,
  `os_version` varchar(16) DEFAULT NULL,
  `user_id` char(32) NOT NULL,
  `network_id` varchar(15) DEFAULT NULL,
  `host_id` varchar(4096) DEFAULT NULL,
  `d_viewport_height` int DEFAULT NULL,
  `d_viewport_width` int DEFAULT NULL,
  PRIMARY KEY (`replay_id`),
  KEY `fk_replay_user` (`user_id`),
  CONSTRAINT `fk_replay_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`),
  CONSTRAINT `chk_viewport_height` CHECK ((`d_viewport_height` > 0)),
  CONSTRAINT `chk_viewport_width` CHECK ((`d_viewport_width` > 0)),
  CONSTRAINT `correct_times` CHECK ((`start_time` < `end_time`)),
  CONSTRAINT `replay_chk_1` CHECK ((`product` in (_utf8mb4'Chrome',_utf8mb4'Mozilla',_utf8mb4'AppleWebKit',_utf8mb4'Safari',_utf8mb4'Edge'))),
  CONSTRAINT `replay_chk_2` CHECK (regexp_like(`product_version`,_utf8mb4'^[0-9]+(\\.[0-9]+)*$')),
  CONSTRAINT `replay_chk_3` CHECK ((`device_type` in (_utf8mb4'Desktop',_utf8mb4'Mobile',_utf8mb4'Unknown'))),
  CONSTRAINT `replay_chk_4` CHECK ((`os_type` in (_utf8mb4'Windows NT',_utf8mb4'Macintosh',_utf8mb4'Linux',_utf8mb4'iOS',_utf8mb4'Android'))),
  CONSTRAINT `replay_chk_5` CHECK (regexp_like(`os_version`,_utf8mb4'^[0-9]+(_[0-9]+)*(\\.?[0-9]+)*$')),
  CONSTRAINT `replay_chk_6` CHECK (regexp_like(`network_id`,_utf8mb4'^[0-9]{1,3}(\\.[0-9]{1,3}){3}$')),
  CONSTRAINT `replay_chk_7` CHECK (regexp_like(`host_id`,_utf8mb4'^[a-zA-Z0-9-]+(\\.[a-zA-Z0-9-]+)+$'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `replay`
--

LOCK TABLES `replay` WRITE;
/*!40000 ALTER TABLE `replay` DISABLE KEYS */;
/*!40000 ALTER TABLE `replay` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scroll_event`
--

DROP TABLE IF EXISTS `scroll_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scroll_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `distance` int DEFAULT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`),
  CONSTRAINT `scroll_event_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scroll_event`
--

LOCK TABLES `scroll_event` WRITE;
/*!40000 ALTER TABLE `scroll_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `scroll_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `text_event`
--

DROP TABLE IF EXISTS `text_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `text_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `text` text,
  PRIMARY KEY (`replay_id`,`timestamp`),
  CONSTRAINT `text_event_ibfk_1` FOREIGN KEY (`replay_id`, `timestamp`) REFERENCES `user_event` (`replay_id`, `timestamp`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `text_event`
--

LOCK TABLES `text_event` WRITE;
/*!40000 ALTER TABLE `text_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `text_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` char(32) NOT NULL,
  `email_domain` varchar(255) DEFAULT NULL,
  `email_name` varchar(64) DEFAULT NULL,
  `username` varchar(64) DEFAULT NULL,
  `password` varchar(4096) DEFAULT NULL,
  `created_at` timestamp NOT NULL,
  `last_login` timestamp NULL DEFAULT NULL,
  `status` varchar(16) DEFAULT NULL,
  `first_name` varchar(128) DEFAULT NULL,
  `middle_name` varchar(128) DEFAULT NULL,
  `last_name` varchar(128) DEFAULT NULL,
  `phone_num` char(11) DEFAULT NULL,
  `role` varchar(16) DEFAULT NULL,
  `verified` tinyint(1) NOT NULL DEFAULT '0',
  `fail_login` int NOT NULL DEFAULT '0',
  `twofa` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`user_id`),
  CONSTRAINT `user_chk_1` CHECK (regexp_like(`email_domain`,_utf8mb4'^[a-zA-Z0-9.!#$\\%&*+/=?^\\_`{|}~-]+$')),
  CONSTRAINT `user_chk_2` CHECK (regexp_like(`email_name`,_utf8mb4'^[a-zA-Z0-9!#$%&\'*+/=?^_`{|}~-]+(\\.[a-zA-Z0-9!#$%&\'*+/=?^_`{|}~-]+)*(\\+[a-zA-Z0-9-]+)?$')),
  CONSTRAINT `user_chk_3` CHECK ((regexp_like(`username`,_utf8mb4'^(?=.*[a-zA-Z])[a-z0-9_\\-\\.\']{3,30}$') and (`username` not in (_utf8mb4'admin',_utf8mb4'root',_utf8mb4'system',_utf8mb4'administrator')))),
  CONSTRAINT `user_chk_4` CHECK ((length(`password`) >= 6)),
  CONSTRAINT `user_chk_5` CHECK ((`status` in (_utf8mb4'enabled',_utf8mb4'disabled'))),
  CONSTRAINT `user_chk_6` CHECK ((`role` in (_utf8mb4'user',_utf8mb4'admin'))),
  CONSTRAINT `user_chk_7` CHECK ((`fail_login` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_event`
--

DROP TABLE IF EXISTS `user_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_event` (
  `replay_id` char(36) NOT NULL,
  `timestamp` timestamp NOT NULL,
  `status` varchar(16) DEFAULT NULL,
  `source` varchar(50) DEFAULT NULL,
  `html_hash` char(64) DEFAULT NULL,
  `viewport_width` int DEFAULT NULL,
  `viewport_height` int DEFAULT NULL,
  PRIMARY KEY (`replay_id`,`timestamp`),
  KEY `html_hash` (`html_hash`),
  CONSTRAINT `user_event_ibfk_1` FOREIGN KEY (`replay_id`) REFERENCES `replay` (`replay_id`),
  CONSTRAINT `user_event_ibfk_2` FOREIGN KEY (`html_hash`) REFERENCES `webstate` (`html_hash`),
  CONSTRAINT `user_event_chk_1` CHECK ((`status` in (_utf8mb4'active',_utf8mb4'complete',_utf8mb4'error'))),
  CONSTRAINT `user_event_chk_2` CHECK ((`viewport_width` > 0)),
  CONSTRAINT `user_event_chk_3` CHECK ((`viewport_height` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_event`
--

LOCK TABLES `user_event` WRITE;
/*!40000 ALTER TABLE `user_event` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_event` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `webstate`
--

DROP TABLE IF EXISTS `webstate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `webstate` (
  `html_hash` char(64) NOT NULL,
  PRIMARY KEY (`html_hash`),
  CONSTRAINT `webstate_chk_1` CHECK (regexp_like(`html_hash`,_utf8mb4'^[a-f0-9]{64}$'))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `webstate`
--

LOCK TABLES `webstate` WRITE;
/*!40000 ALTER TABLE `webstate` DISABLE KEYS */;
/*!40000 ALTER TABLE `webstate` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-28 12:54:03
