---
import AppBarComponent from '../components/AppBarComponent.vue';
import DatabaseComponent from '../components/DatabaseComponent.vue';
import Head from '../components/Head.astro';


---

<html lang="en">
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
    <Head title="Test Page" />
  </head>
  <body>
    <main>
      <AppBarComponent client:load/>
      <DatabaseComponent client:load/>
    </main>
  </body>
</html>
