---
import DataDisplay from '../components/DataDisplay.vue';
import IndexComponent from '../components/IndexComponent.vue';
import Head from '../components/Head.astro';
import { POST } from './api/hello.ts'
import Button from 'primevue/button';


let response = await POST(Astro)
const data = JSON.stringify(await response.json())
---

<html lang="en">
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
    <Head title="Test Page" />
  </head>
  <body>
    <main>
      <IndexComponent client:load/>
    </main>
  </body>
</html>
