---
import PrimeVueTest from '../components/PrimeVueTest.vue';
import Head from '../components/Head.astro';
import { GET } from './api/hello.ts'

let response = await GET(Astro)
const data = JSON.stringify(await response.json())
---

<html lang="en">
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
    <Head title="Test Page" />
  </head>
  <body>
    <main>
      <div>
        <p>
          {data}
        </p>
      </div>
      <PrimeVueTest client:load />
    </main>
  </body>
</html>
