---
import PrimeVueTest from '../components/PrimeVueTest.vue';
import Head from '../components/Head.astro';
---

<html lang="en">
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
    <Head title="Test Page" />
  </head>
  <body>
    <main>
      <PrimeVueTest client:load />
    </main>
  </body>
</html>
