---
// Use the new Layout component
import Layout from "../components/Layout.astro";
import ControlPanel from "../components/matrix/ControlPanel.astro";
import FileUploadPanel from "../components/matrix/FileUploadPanel.astro";
import ReplayPanel from "../components/matrix/ReplayPanel.astro";
import RecordingPanel from "../components/matrix/RecordingPanel.astro";
import TimelinePanel from "../components/matrix/TimelinePanel.astro";


import "../styles/rrweb-player.css";
const systemName = "ClickstreamDB";
---

<Layout title={`${systemName} - Local Record & Replay`}>
  <h1 class="text-2xl font-bold mb-4">
    RRWeb Local Record & Replay (Iframe Managed)
  </h1>
  <FileUploadPanel />
  <div class="flex flex-col md:flex-row gap-4">
    <RecordingPanel />
    <ReplayPanel />
  </div>
  <ControlPanel />
  <TimelinePanel />
</Layout>

<script>
  import { initRecorder } from "../lib/matrix/recorder";;
  import { initTimelineControls } from "../lib/matrix/timeline";

  document.addEventListener("DOMContentLoaded", () => {
    initTimelineControls();
    initRecorder();
  });
</script>
