---
// No props needed for this component
---

<div class="flex-1">
  <h2 class="text-xl font-semibold mb-2">Replay Window</h2>
   <p class="mb-2 text-info bg-base-200 p-2 rounded text-sm">
    Recorded session will replay here after you stop recording.
  </p>
  <div class="mockup-browser border bg-base-300">
    <div class="mockup-browser-toolbar">
      <div class="input">Replay Area</div>
    </div>
    <div id="replay-container" class="flex justify-center items-center bg-base-200 min-h-[436px]">
      {/* rrweb-player will attach here */}
    </div>
  </div>
</div> 